:root {
  --primary-blue: #29b6f6;
  --color-gray: #9e9e9e;
  --bg-light-gray: #f3f6f9;
}

body {
  background: var(--bg-light-gray);
}

.container {
  max-width: 80%;
  margin: 2rem auto;
  padding: 1rem;
}

.container--bg-white {
  background: white;
  border-radius: 10px;
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 800px;
  }
}
.icon {
  margin-right: 0.5rem;
  color: black;
}

.icon--align-middle {
  vertical-align: middle;
}
