:root {
  --primary-blue: #29b6f6;
  --color-gray: #9e9e9e;
  --bg-light-gray: #f3f6f9;
}

body {
  background: var(--bg-light-gray);
}

.icon {
  margin-right: 0.5rem;
  color: black;
}

.icon--align-middle {
  vertical-align: middle;
}

/* dark mode css */
.darkmode--activated svg, .darkmode--activated .MuiInput-input {
  color: #fff;
}

.darkmode--activated .MuiFormLabel-root {
  color: #29b6f6;
}

.darkmode--activated .MuiInput-underline:before {
  border-color: #29b6f6;
}

.darkmode--activated .custom-spinner:after {
  border-color: #fff transparent #fff transparent;
}