:root {
  --primary-blue: #29b6f6;
  --color-gray: #9e9e9e;
  --bg-light-gray: #f3f6f9;
}

body {
  background: var(--bg-light-gray);
}

.icon {
  margin-right: 0.5rem;
  color: black;
}

.icon--align-middle {
  vertical-align: middle;
}
